name: paging
description: A Flutter package for paginating a list view from network or local storage
version: 0.1.0
author: Joshua Matta<joshuamatta1996@gmail.com>
homepage: https://github.com/joshmatta/paging_library

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

